body {
    font-family: Arial, sans-serif;
    background: #131110;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    text-align: center;
    position: relative;
   

}

.login-container {
    background-color: #fff;
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.game-container {
    background-color: #fff;
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
 color: #333;
 font-size: 4rem;
}

 .input {
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120, 120, 120, 0.374);
    padding: 0.5rem ;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
 .input>input{
    border: none;
    outline: none;
    padding: 1rem;
 }


.button{
  background-color: #007bff;
  margin-top: 1em;
  font-weight: 500;
  padding: 0.9rem 1.5rem;
  color: white;
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
  font-size: 2rem;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

p{
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}